li{
    list-style: none;
    border-bottom: 1px solid blue;
    padding:20px;
}

.add-image{
    width:4rem;
    height:auto;
    margin-bottom:18px;
}

.list-image{
    width: 3rem;
    height: 3rem;
}

.small-list-image{
    width: 20px;
    height: auto;
    margin: 6px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.border-radius-0 {
    border-radius: 0;
}
